.u-section-1 .u-sheet-1 {
  min-height: 688px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(255,255,255,1);
  font-weight: 700;
  margin: 13px 235px 0 auto;
}

.u-section-1 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  margin: 0 auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/cover.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-2 {
  text-shadow: 0px 2px 8px rgba(255,255,255,1);
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  width: 409px;
  text-shadow: 2px 2px 8px rgba(255,255,255,1);
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#8a0eb0, #e37a03);
  margin: 30px auto 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.4), rgba(26,26,26,0.4)), url("images/cover.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(255,255,255,1);
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  width: 409px;
  text-shadow: 2px 2px 8px rgba(255,255,255,1);
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#8a0eb0, #e37a03);
  margin: 30px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 63px;
  height: 63px;
  left: -63px;
  position: absolute;
  right: auto;
  padding: 6px;
}

.u-section-1 .u-carousel-control-2 {
  width: 63px;
  height: 63px;
  left: auto;
  position: absolute;
  right: -63px;
  padding: 6px;
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 176px;
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 111px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }

  .u-section-1 .u-text-5 {
    width: 320px;
  }
}